body {
  font-family: "Didact Gothic";
  font-size: 1.25rem;
  padding-top: 10rem;
  margin-bottom: 0;
}

img {
  filter: grayscale(0.7) !important;
}

h1, h2, h3, a, a:hover {
  color: #6d6e6f;
}

article {
  margin-top: 0;
}
article footer {
  padding-bottom: 2rem;
}
aside {
  overflow: hidden;
}

.grey {
  color: #bcbec0;
}
.bg-grey {
  background-color: #bcbec0;
}
.dark {
  color: #6d6e6f;
}
.bg-dark {
  background-color: #6d6e6f !important;
}

.jumbotron {
  border-radius: 0;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
}
.fixed-top {
  /* height: 8rem; */
  min-height: 4rem;
}

.navbar-primary {
  /* height: 4rem; */
  transition: height 0.2s ease-in-out;
}
.navbar-primary .active {
  background-color: #bcbec0;
}
.navbar-primary.navbar-large {
  /* height: 8rem; */
}
.navbar-primary .navbar-brand img {
  transition: max-height 0.2s ease-in-out;
}
.navbar-primary.navbar-large .navbar-brand img {
  max-height: 6rem;
}

.single .recent-posts {
  display: flex;
  flex-wrap: wrap;
}
.recent-posts > header {
  flex-basis: 100%;
}
.home .recent-posts > header {
  display: none;
}
.home .recent-posts article {
  flex-basis: 100%;
}

.recent-posts article::after {
  border-bottom: 1px solid #999;
  content: '';
  display: block;
}
.recent-posts article:last-of-type::after {
  display: none;
}

.single .recent-posts .row {
  display: none;
}

.recent-posts img {
  width: 600px;
}

.follow-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog .page-title {
  display: none;
}

@media (min-width: 768px) {
  .recent-posts article {
    flex-basis: 33%;
  }
  .blog main .post {
    float: left;
    width: 33%;
  }
}
